language: android

jdk:
  - oraclejdk8

android:
  components:
    - tools
    - build-tools-28.0.3
    - android-28
    - extra-android-m2repository
    - extra-android-support

before_install:
  - chmod +x gradlew

script:
  - ./gradlew assembleDebug

after_success:
  - ./gradlew publishAllPublicationsToMavenCentral

notifications:
  email: false

env:
  global:
    - ORG_GRADLE_PROJECT_mavenCentralUsername=$MVN_USERNAME
    - ORG_GRADLE_PROJECT_mavenCentralPassword=$MVN_PASSWORD
    - ORG_GRADLE_PROJECT_signingInMemoryKey=$MVN_SIGNING_KEY
    - ORG_GRADLE_PROJECT_signingInMemoryKeyId=$MVN_SIGNING_KEY_ID
    - ORG_GRADLE_PROJECT_signingInMemoryKeyPassword=$MVN_SIGNING_KEY_PASSWORD