<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <application>
        <activity
            android:name="android.zero.studio.widget.editor.symbolinput.SymbolManagerActivity"
            android:configChanges="orientation|keyboardHidden|screenSize|keyboard|navigation"
            android:exported="false"
            android:windowSoftInputMode="adjustResize" />
    </application>
</manifest>